<%= form_with(model: user, url: update_user_path, local: false) do |f| %>
		<div class="modal-body">
				<div class="row">
							<div class="col-md-12">
								
									<ul class="errors">

										<% user.errors.full_messages.each do |message| %>
											<li><%= message %></li>
										<% end %>
									</ul>
								
								

								<div class="col-xs-12">
									<div class="form-group">
										<%= f.label "Nom complet" %><br />
										<%= f.text_field :full_name, autofocus: true, autocomplete: "full_name", class: "form-control", placeholder: "Nom complet"  %>
									</div>
								</div>
							
								

								<div class="col-xs-12">

									<div class="form-group">
										<%= f.label :email %><br />
										<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "E-mail" %>
										<% #if !is_contributor_or_producer?(current_user)  %>
									</div>
									

									<div class="form-group">
										<%= f.label :password %>
										<% if @minimum_password_length %>
										<em>(<%= @minimum_password_length %> characters minimum)</em>
										<% end %><br />
										<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Mot de passe" %>
									</div>
									<div class="form-group">
										<%= f.label :password_confirmation %><br />
										<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmation du mot de passe" %>
									</div>
								
										<div class="form-group">
										<%= f.label "Service" %>
										<%= f.collection_select :service_id, @services,  :id, :name , {prompt: "Sélectionner un service"}, class: "form-control", required: true   %>
																
									</div>
									<div class="form-group">
										<%= f.label "Profil" %>
										<%= f.collection_select :role_id, @roles,  :id, :name , {prompt: "Sélectionner un profil"}, class: "form-control", required: true   %>
																
									</div>

									
								</div>
						</div>
				</div>
		</div><!-- modal body -->
		<div class="modal-footer">
				<%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
				<%= f.submit "Enregistrer", class: "btn btn-primary",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
		</div>
<% end %>
