<% @stations.each do |station| %>
              <tr>
              
                <td><%= station.ref %></td>
                <td><%= station.address %></td>
                <td><%= station.city %></td>
                <td><%= station.phone %></td>
                <td>
					<div class="action-buttons">
					<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_station_path(station), title: "Modifier", remote: true %>
					<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), station_delete_path(station), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
              </tr>
            <% end %>