<%= form_with(model: task, local: true) do |form| %>
<div class="modal-body pd-25">
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Service" %>
    <%= form.text_field :service_id, id: :task_service_id,   class: "form-control", placeholder: "Service" %>
  </div>

  <div class="form-group">
    <%= form.label :contact %>
    <%= form.number_field :contact, id: :task_contact,  class: "form-control", placeholder: "Acteur" %>
  </div>

  <div class="form-group">
    <%= form.label :motif_id %>
    <%= form.text_field :motif_id, id: :task_motif_id,  class: "form-control", placeholder: "Motif" %>
  </div>

  <div class="form-group">
    <%= form.label "Délai" %>
    <%= form.date_field :time_limit, id: :task_time_limit, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Date traitement" %>
    <%= form.date_field :processing_date, id: :task_processing_date, class: "form-control" %>
  </div>

  
</div>
  <div class="modal-footer">          
    <button type="button" class="btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1">FERMER</button>
      <%= form.submit "ENREGISTRER", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1"%>
  </div>
<% end %>
