<%= form_with(model: task, local: false) do |form| %>
<div class="modal-body">
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

<div class="form-group">
    <%= form.label "Réf. commande" %>
    <%= form.collection_select(:order_id, @orders,  :id, :ref , {prompt: "Sélectionner une commande"}, class: "form-control", required: true) %>
                
  </div>

  <div class="form-group">
    <%= form.label "Service" %>
    <%= form.collection_select(:service_id, @services,  :id, :name , {prompt: "Sélectionner un service"}, class: "form-control", required: true) %>
                
  </div>

<div class="form-group">
    <%= form.label "Acteur" %>
    <%= form.collection_select(:contact, @users,  :id, :full_name , {prompt: "Sélectionner un acteur"}, class: "form-control", required: true) %>
                
  </div>
  

  <div class="form-group">
    <%= form.label "Motif" %>
    <%= form.collection_select(:motif_id, @motifs,  :id, :name , {prompt: "Sélectionner un motif"}, class: "form-control", required: true) %>
                
  </div>

  <div class="form-group">
    <%= form.label "Délai" %>
    <%= form.date_field :time_limit, id: :task_time_limit, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Date traitement" %>
    <%= form.date_field :processing_date, id: :task_processing_date, class: "form-control" %>
  </div>

  
</div>
   <div class="modal-footer">
				<%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
				<%= form.submit "Enregistrer", class: "btn btn-primary",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
		</div>
<% end %>
