<div class="page login-page d-flex" >
    <div class="container">
        <div class="form-outer   align-items-center">
           
            <div class="form-inner">
               <div class="logo text-uppercase text-center " >
                <%= image_tag("logo/logo.png") %> 
            </div>
            <h2 class= "form-title text-center">Connexion</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
               <%= f.label "Adresse e-mail" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "form-control", placeholder: "votremail@domaine.com" %>
              </div>

              <div class="form-group">
               <%= f.label "Mot de passe" %>
                <%= f.password_field :password, autocomplete: "off", class: "form-control" ,  placeholder: "*******"%>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-7">
                  	  <%= render "users/shared/forgotpassword" %>
                  </div>
                  <div class="col-xs-5 login">
                		<%= f.submit "Se connecter", class: "btn btn-primary" %>
                	</div>
				</div>
              </div>
            <% end %>

        
</div>
</div>
</div>
</div>