<!DOCTYPE html>
<html>
  <head>
    <title>ProcSys</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>


  </head>

  <body class="pages">
  	<%= render('layouts/partials/header') %>
      <% if notice %>
      <div id="notice_wrapper">

        <p class="alert alert-success"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div id="alert_wrapper">
        <p class="alert alert-danger"><%= alert %></p>
      </div>
  <% end %>

    <%= yield %>

      <%= render('layouts/partials/footer') %>
  </body>
</html>
