<!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span>[</span>Proc<i>Sys</i><span>]</span></a></div>
    <div class="br-sideleft sideleft-scrollbar">
      <label class="sidebar-label pd-x-10 mg-t-20 op-3">Navigation</label>
      <ul class="br-sideleft-menu">
        <li class="br-menu-item">
          

          <%= link_to raw('<i class="menu-item-icon fas fa-home tx-24"></i> <div class="menu-item-label "> Tableau de bord</div>'), dashboard_path, class: "br-menu-link active"  %>
        </li><!-- br-menu-item -->

         <li class="br-menu-item">
          
          <%= link_to raw('<i class="menu-item-icon far fa-building tx-24"></i> <div class="menu-item-label"> Commandes</div>'), orders_path, class: "br-menu-link"  %>

        </li><!-- br-menu-item -->

         <li class="br-menu-item">
          
          <%= link_to raw('<i class="menu-item-icon far fa-building tx-24"></i> <div class="menu-item-label"> Traitements</div>'), tasks_path, class: "br-menu-link"  %>

        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          
          <%= link_to raw('<i class="menu-item-icon far fa-building tx-24"></i> <div class="menu-item-label"> Services</div>'), services_path, class: "br-menu-link"  %>

        </li><!-- br-menu-item -->

      <li class="br-menu-item">
          
          <%= link_to raw('<i class="menu-item-icon far fa-building tx-24"></i> <div class="menu-item-label"> Clients</div>'), customers_path, class: "br-menu-link"  %>

        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
           <i class="menu-item-icon far fa-building tx-24"></i>
            <span class="menu-item-label">Paramètres</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
           
            <li class="sub-item">
          
          <%= link_to  "Utilisateurs", all_users_path, class: "sub-link"  %>

        </li><!-- br-menu-item -->
            
          </ul>
        </li><!-- br-menu-item -->
       
        
       

      
      </ul><!-- br-sideleft-menu -->

     

        
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->