<%= form_with(model: delivery_slip, local: false) do |form| %>
<div class="modal-body">
  <% if delivery_slip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery_slip.errors.count, "error") %> prohibited this delivery_slip from being saved:</h2>

      <ul>
      <% delivery_slip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :ref %>
    <%= form.text_field :ref, id: :delivery_slip_ref, class: "form-control", placeholder: "Réf" %>
  </div>

 
  <div class="form-group">
    <%= form.label "Réf commande" %>
    <%= form.collection_select(:order_id, @orders,  :id, :id , {prompt: "Sélectionner une commande"}, class: "form-control", required: true) %>
                
  </div>

  

  <div class="form-group">
    <%= form.label "Client" %>
    <%= form.collection_select(:customer_id, @customers,  :id, :full_name , {prompt: "Sélectionner un client"}, class: "form-control", required: true) %>
                
  </div>

  </div>

 <div class="modal-footer">
				<%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
				<%= form.submit "Enregistrer", class: "btn btn-primary",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
		</div>
<% end %>
