<%= form_with(model: prestator, local: true) do |form| %>
  <% if prestator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prestator.errors.count, "error") %> prohibited this prestator from being saved:</h2>

      <ul>
      <% prestator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :prestator_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :prestator_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :prestator_city %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :prestator_phone %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :prestator_country %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :prestator_status %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :prestator_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
