<p id="notice"><%= notice %></p>

<h1>Prestators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Phone</th>
      <th>Country</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prestators.each do |prestator| %>
      <tr>
        <td><%= prestator.name %></td>
        <td><%= prestator.address %></td>
        <td><%= prestator.city %></td>
        <td><%= prestator.phone %></td>
        <td><%= prestator.country %></td>
        <td><%= prestator.status %></td>
        <td><%= prestator.user %></td>
        <td><%= link_to 'Show', prestator %></td>
        <td><%= link_to 'Edit', edit_prestator_path(prestator) %></td>
        <td><%= link_to 'Destroy', prestator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prestator', new_prestator_path %>
