<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prestator.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @prestator.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @prestator.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @prestator.phone %>
</p>

<p>
  <strong>Country:</strong>
  <%= @prestator.country %>
</p>

<p>
  <strong>Status:</strong>
  <%= @prestator.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @prestator.user %>
</p>

<%= link_to 'Edit', edit_prestator_path(@prestator) %> |
<%= link_to 'Back', prestators_path %>
