<%= form_with(model: customer, local: false) do |form| %>
    <div class="modal-body">
      <ul class="errors">

          <% @customer.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
        </ul>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <%= form.text_field :full_name, id: :customer_full_name, class: "form-control", placeholder: "Nom complet" %>
                </div>

               

                <div class="form-group">
                  <%= form.text_field :address, id: :customer_address, class: "form-control", placeholder: "Adresse" %>
                </div>

                <div class="form-group">
                  <%= form.text_field :city, id: :customer_city, class: "form-control", placeholder: "Ville" %>
                </div>

                <div class="form-group">
                  <%= form.text_field :country, id: :customer_country , class: "form-control", placeholder: "Pays" %>
                </div>

                <div class="form-group">
                  <%= form.text_field :phone, id: :customer_phone, class: "form-control", placeholder: "Téléphone" %>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
        <div class="modal-footer">
              <%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
              <%= form.submit "Enregistrer", class: "btn btn-primary",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
        </div>
<% end %>

    
