<%= form_with(model: customer, local: true) do |form| %>
 <div class="modal-body pd-25">
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="form-group">
   
    <%= form.text_field :company, id: :customer_company, class: "form-control", placeholder: "Entreprise" %>
  </div>

  <div class="form-group">
    
    <%= form.text_field :first_name, id: :customer_first_name, class: "form-control", placeholder: "Prénom"  %>
  </div>

  <div class="form-group">
    
    <%= form.text_field :last_name, id: :customer_last_name, class: "form-control", placeholder: "Nom"  %>
  </div>

  

  
</div>
 

  <div class="modal-footer">          
    <button type="button" class="btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1">FERMER</button>
      <%= form.submit "ENREGISTRER", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1"%>
  </div>
<% end %>
