<%= form_with(model: order, local: true) do |form| %>
<div class="modal-body pd-25">
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :ref %>
    <%= form.text_field :ref, id: :order_ref, class: "form-control", placeholder: "Réf." %>
  </div>

  <div class="form-group">
    <%= form.label :arrival_date %>
    <%= form.date_field :arrival_date, id: :order_arrival_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :order_type_id %>
    <%= form.text_field :order_type_id, id: :order_order_type_id, class: "form-control", placeholder: "Type de commande" %>
  </div>

  <div class="form-group">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, id: :order_customer_id, class: "form-control", placeholder: "Client" %>
  </div>

  </div>

  <div class="modal-footer">          
    <button type="button" class="btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1">FERMER</button>
      <%= form.submit "ENREGISTRER", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1"%>
  </div>
<% end %>
