<% @orders.each do |order| %>
      <tr>
        <td><%= order.ref %></td>
        <td><%= order.arrival_date %></td>
        <td><%= order.order_type %></td>
        <td><%= order.customer %></td>
       
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>