<tr>
<td class="uppercase">Nom</td>
<td ><%= current_company.name  %></td>
</tr>

<tr>
<td class="uppercase">Adresse</td>
<td><%= current_company.address  %></td>
</tr>
<tr>
<td class="uppercase">Ville</td>
<td><%= current_company.city %></td>
</tr>
<tr>
<td class="uppercase">Pays</td>
<td><%= current_company.country  %></td>
</tr>

<tr>
<td class="uppercase">Téléphone</td>
<td><%= current_company.phone  %></td>
</tr>