<%= form_with(model: maintenance_report, local: false) do |form| %>
<div class="modal-body">
  <% if maintenance_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maintenance_report.errors.count, "error") %> prohibited this maintenance_report from being saved:</h2>

      <ul>
      <% maintenance_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :motif %>
    <%= form.text_field :motif, id: :maintenance_report_motif, class: "form-control", placeholder: "Motif" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :maintenance_report_description, class: "form-control", placeholder: "Description" %>
  </div>

  

  <div class="form-group">
    <%= form.label "Réf bon de travail" %>
    <%= form.collection_select(:work_order_id, @work_orders,  :id, :id , {prompt: "Sélectionner un bon de travail"}, class: "form-control", required: true) %>
                
  </div>

</div>
   <div class="modal-footer">
				<%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
				<%= form.submit "Enregistrer", class: "btn btn-primary",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
		</div>
<% end %>
