
    <h5 class="sidenav-heading">Menu</h5>
		<ul id="side-main-menu" class="side-menu list-unstyled">   
		              
            <li>
				<%= link_to raw('<i class="fa fa-tachometer" aria-hidden="true"></i>Tableau de bord'), dashboard_path %>
			</li>
			
			
			

			<li>
						<a href="#ordersdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
						Gestion commandes</a>
						<ul id="ordersdropdownDropdown" class="collapse list-unstyled">
							
								<li>
									<%= link_to raw('<i class="fa fa-user" aria-hidden="true"></i> Commandes'), orders_path %>
								</li>
								<li>
                					<%= link_to raw('<i class="fa fa-university" aria-hidden="true"></i>Traitements'), tasks_path %>
								</li>

						
						</ul>
					</li>

		
		<li>
						<a href="#livraisonsdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-ship" aria-hidden="true"></i>
						Gestion livraisons</a>
						<ul id="livraisonsdropdownDropdown" class="collapse list-unstyled">
							
								<li>
									<%= link_to raw('<i class="fa fa-user" aria-hidden="true"></i> Bordereaux'), delivery_slips_path %>
								</li>
								<li>
                					<%= link_to raw('<i class="fa fa-university" aria-hidden="true"></i>Traitements'), delivery_slip_processings_path %>
								</li>

						
						</ul>
					</li>

				<li>
						<a href="#anomaliesdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-sliders" aria-hidden="true"></i>
						Gestion anomalies</a>
						<ul id="anomaliesdropdownDropdown" class="collapse list-unstyled">
							
								<li>
									<%= link_to raw('<i class="fa fa-user" aria-hidden="true"></i> Demande d\'intervention'), maintenance_requests_path %>
								</li>
								<li>
                					<%= link_to raw('<i class="fa fa-university" aria-hidden="true"></i>Bon de travail'), work_orders_path %>
								</li>

								<li>
                					<%= link_to raw('<i class="fa fa-university" aria-hidden="true"></i>Rapport de maintenance'), maintenance_reports_path %>
								</li>

						
						</ul>
					</li>
		
			
				<% if is_admin? %>
					<li>
						<a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-cogs" aria-hidden="true"></i>
						Paramètres</a>
						<ul id="exampledropdownDropdown" class="collapse list-unstyled">
							
								<li>
									<%= link_to raw('<i class="fa fa-user" aria-hidden="true"></i> Utilisateurs'), all_users_path %>
								</li>
								<li>
                					<%= link_to raw('<i class="fa fa-university" aria-hidden="true"></i>Services'), services_path %>
								</li>

						<li>
							<%= link_to raw('<i class="fa fa-university" aria-hidden="true"></i>Clients'), customers_path %>
						</li>

							<li>
								<%= link_to raw('<i class="fa fa-university" aria-hidden="true"></i>Motifs'), motifs_path %>
							</li>

							<li>
								<%= link_to raw('<i class="fa fa-university" aria-hidden="true"></i>Stations'), stations_path %>
							</li>

							<li>
								<%= link_to raw('<i class="fa fa-university" aria-hidden="true"></i>Types commandes'), order_types_path %>
							</li>

							<li>
								<%= link_to raw('<i class="fa fa-university" aria-hidden="true"></i>Prestateurs'), providers_path %>
							</li>
			

							<% if current_company %>
					
							<li><%= link_to raw('<i class="fa fa-home" aria-hidden="true"></i>
									Société'), show_company_path(current_company) %>
							</li>
                            
							<% end %>
					
						</ul>
					</li>
				<% end %>
    </ul>

   
