<%= form_with(model: unavailability, local: true) do |form| %>
  <% if unavailability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unavailability.errors.count, "error") %> prohibited this unavailability from being saved:</h2>

      <ul>
      <% unavailability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :actor %>
    <%= form.number_field :actor, id: :unavailability_actor %>
  </div>

  <div class="field">
    <%= form.label :unavailability_date %>
    <%= form.datetime_select :unavailability_date, id: :unavailability_unavailability_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :unavailability_description %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :unavailability_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
