  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <!-- <li class="header">HEADER</li>-->
        <!-- Optionally, you can add icons to the links -->
        <li class="">
         
          <%= link_to raw('<i class="fa fa-home" aria-hidden="true"></i> <span>Mes propriétés</span>'), properties_path %>
        </li>
        <!-- 
         <li>
            <%= link_to raw('<i class="fa fa-link"></i> <span>Type de contrat</span>'), contract_types_path %>
            </li>
            <li>
             <%= link_to raw('<i class="fa fa-link"></i> <span>Type de propriétés</span>'), property_types_path %>
            </li>

            <li>
             <%= link_to raw('<i class="fa fa-link"></i> <span>Statut</span>'), statuses_path %>
            </li>
            -->
         <% if current_user.superadmin_role? or  current_user.supervisor_role? %>   
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Paramètres</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li>
            <%= link_to raw('<i class="fa fa-link"></i> <span>Type de contrat</span>'), contract_types_path %>
            </li>
            <li>
             <%= link_to raw('<i class="fa fa-link"></i> <span>Type de propriétés</span>'), property_types_path %>
            </li>

            <li>
             <%= link_to raw('<i class="fa fa-link"></i> <span>Statut</span>'), statuses_path %>
            </li>

          </ul>
        </li>
<% end %>

      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>