<%= form_with(model: delivery_slip_processing, local: true) do |form| %>
  <% if delivery_slip_processing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery_slip_processing.errors.count, "error") %> prohibited this delivery_slip_processing from being saved:</h2>

      <ul>
      <% delivery_slip_processing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :delivery_slip_id %>
    <%= form.text_field :delivery_slip_id, id: :delivery_slip_processing_delivery_slip_id %>
  </div>

  <div class="field">
    <%= form.label :motif_id %>
    <%= form.text_field :motif_id, id: :delivery_slip_processing_motif_id %>
  </div>

  <div class="field">
    <%= form.label :time_limit %>
    <%= form.datetime_select :time_limit, id: :delivery_slip_processing_time_limit %>
  </div>

  <div class="field">
    <%= form.label :processing_date %>
    <%= form.datetime_select :processing_date, id: :delivery_slip_processing_processing_date %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :delivery_slip_processing_user_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :delivery_slip_processing_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
