<%= form_with(model: delivery_slip_processing, local: false) do |form| %>
<div class="modal-body">
  <% if delivery_slip_processing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery_slip_processing.errors.count, "error") %> prohibited this delivery_slip_processing from being saved:</h2>

      <ul>
      <% delivery_slip_processing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 

  <div class="form-group">
    <%= form.label "Réf commande" %>
    <%= form.collection_select(:delivery_slip_id, @delivery_slips,  :id, :ref , {prompt: "Sélectionner un bordereau"}, class: "form-control", required: true) %>
                
  </div>

  <div class="form-group">
    <%= form.label "Motif" %>
    <%= form.collection_select(:motif_id, @motifs,  :id, :name , {prompt: "Sélectionner un motif"}, class: "form-control", required: true) %>
                
  </div>

  <div class="form-group">
    <%= form.label "Délai" %>
    <%= form.date_field :time_limit, id: :delivery_slip_processing_time_limit, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label "Date de traitement"%>
    <%= form.date_field :processing_date, id: :delivery_slip_processing_processing_date, class: "form-control" %>
  </div>

  </div>

  <div class="modal-footer">
				<%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
				<%= form.submit "Enregistrer", class: "btn btn-primary",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
		</div>
<% end %>
