<% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.status %></td>
        <td><%= customer.user %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>